@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

.title{
    color: #15163d;
    font-size: 18px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}